body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #EAF6FF 0%, #CFE9FF 50%, #B8E0FF 100%);
    font-family: Arial, Helvetica, sans-serif;
}

video {
    max-width: 80%;
}

#imgLogo {
    max-width: 100%;
}

#cardDownload {
    max-width: 80%;
    margin: auto;
}

#logoAceMobile {
    max-width: 40%;
}

#linkAcesso {
    background: transparent;
    color: black;
    border: none;
    text-align: center;
}

h1 {
    color: black;
    text-decoration: underline;
}
