body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #EAF6FF 0%, #CFE9FF 50%, #B8E0FF 100%);
    font-family: Arial, Helvetica, sans-serif;
}

#imgLogo {
    max-width: 100%;
}


#cardAccordion {
    max-width: 80%;
}


.accordion-item {
    transition: opacity .2s ease;
}

.accordion-item.transparente {
    opacity: 0.1;
}